/*------------------------------------------------------------------
[Buttons]
*/
/* Typography */
/*------------------------------------------------------------------
[Typography]
*/
/* Colors */
/*------------------------------------------------------------------
[Color Scheme / Colors, textures]
*/
.e-bg-light-texture {
  background: url("../images/backgrounds/dark_fish_skin.png"); }

/* Color Classes */
.color01 {
  color: #ffffff !important; }

.color02 {
  color: #f7f7f7 !important; }

.color03 {
  color: #efefef !important; }

.color04 {
  color: #e7e7e7 !important; }

.color05 {
  color: #dfdfdf !important; }

.color06 {
  color: #d7d7d7 !important; }

.color07 {
  color: #cfcfcf !important; }

.color08 {
  color: #c7c7c7 !important; }

.color09 {
  color: #bfbfbf !important; }

.color10 {
  color: #b7b7b7 !important; }

.color11 {
  color: #afafaf !important; }

.color12 {
  color: #a7a7a7 !important; }

.color13 {
  color: #9f9f9f !important; }

.color14 {
  color: #979797 !important; }

.color15 {
  color: #8f8f8f !important; }
  .color15 a {
    color: #8f8f8f; }
    .color15 a:hover {
      color: #e74c3c; }

.color16 {
  color: #878787 !important; }

.color17 {
  color: #7f7f7f !important; }

.color18 {
  color: #777777 !important; }

.color19 {
  color: #6f6f6f !important; }

.color20 {
  color: #676767 !important; }

.color21 {
  color: #5f5f5f !important; }

.color22 {
  color: #575757 !important; }

.color23 {
  color: #4f4f4f !important; }

.color24 {
  color: #474747 !important; }

.color25 {
  color: #3f3f3f !important; }

.color26 {
  color: #373737 !important; }

.color27 {
  color: #2f2f2f !important; }

.color28 {
  color: #272727 !important; }

.color29 {
  color: #1f1f1f !important; }

.color30 {
  color: #171717 !important; }

.color31 {
  color: #0f0f0f !important; }

.color32 {
  color: #070707 !important; }

.color33 {
  color: #51f2ec !important; }

.color34 {
  color: #ffd200 !important; }

.color35 {
  color: #F09C88 !important; }

.color-red {
  color: #e74c3c !important; }

.color-orange {
  color: #e67e22 !important; }

.color-green {
  color: #1abc9c !important; }

.color-blue {
  color: #3498db !important; }

.color-darkblue {
  color: #1c4a6c !important; }

.color-cyan {
  color: #9b59b6 !important; }

.color-yellow {
  color: #d9a81d !important; }

.color-rose {
  color: #e798ac !important; }

.color-darkrose {
  color: #e17f98 !important; }

.red {
  background-color: #e74c3c !important; }

.orange {
  background-color: #e67e22 !important; }

.green {
  background-color: #1abc9c !important; }

.blue {
  background-color: #3498db !important; }

.darkblue {
  background-color: #1c4a6c !important; }

.cyan {
  background-color: #9b59b6 !important; }

.yellow {
  background-color: #d9a81d !important; }

.l-grey {
  background-color: #f2f2f2 !important; }

.grey {
  background-color: #999 !important; }

/*Font/link Colors */
.fontcolor-regular, .fontcolor-regular a {
  color: #171717 !important; }

.fontcolor-invert, .fontcolor-invert a {
  color: #ffffff !important; }

.fontcolor-medium, .fontcolor-medium a {
  color: #676767 !important; }

.fontcolor-medium-light {
  color: #8f8f8f !important; }
  .fontcolor-medium-light a {
    color: #8f8f8f !important; }
    .fontcolor-medium-light a:hover, .fontcolor-medium-light a:focus {
      color: #e74c3c !important; }

.hovercolor, .hovercolor a {
  color: #e74c3c !important; }

.accent-color, .accent-color a {
  color: #007EA7 !important; }

.accent-color a:hover {
  color: #e74c3c !important; }

/*Background Color Classes */
.bg-color01 {
  background-color: #ffffff !important; }

.bg-color02 {
  background-color: #f7f7f7 !important; }

.bg-color03 {
  background-color: #efefef !important; }

.bg-color04 {
  background-color: #e7e7e7 !important; }

.bg-color05 {
  background-color: #dfdfdf !important; }

.bg-color06 {
  background-color: #d7d7d7 !important; }

.bg-color07 {
  background-color: #cfcfcf !important; }

.bg-color08 {
  background-color: #c7c7c7 !important; }

.bg-color09 {
  background-color: #bfbfbf !important; }

.bg-color10 {
  background-color: #b7b7b7 !important; }

.bg-color11 {
  background-color: #afafaf !important; }

.bg-color12 {
  background-color: #a7a7a7 !important; }

.bg-color13 {
  background-color: #9f9f9f !important; }

.bg-color14 {
  background-color: #979797 !important; }

.bg-color15 {
  background-color: #8f8f8f !important; }

.bg-color16 {
  background-color: #878787 !important; }

.bg-color17 {
  background-color: #7f7f7f !important; }

.bg-color18 {
  background-color: #777777 !important; }

.bg-color19 {
  background-color: #6f6f6f !important; }

.bg-color20 {
  background-color: #676767 !important; }

.bg-color21 {
  background-color: #5f5f5f !important; }

.bg-color22 {
  background-color: #575757 !important; }

.bg-color23 {
  background-color: #4f4f4f !important; }

.bg-color24 {
  background-color: #474747 !important; }

.bg-color25 {
  background-color: #3f3f3f !important; }

.bg-color26 {
  background-color: #373737 !important; }

.bg-color27 {
  background-color: #2f2f2f !important; }

.bg-color28 {
  background-color: #272727 !important; }

.bg-color29 {
  background-color: #1f1f1f !important; }

.bg-color30 {
  background-color: #171717 !important; }

.bg-color31 {
  background-color: #0f0f0f !important; }

.bg-color32 {
  background-color: #070707 !important; }

.dark .title, .dark p {
  color: #ffffff; }
.dark .subtitle {
  color: #8f8f8f; }

/* Headings Fonts variables */
/* Heading font two */
.font-accident-two-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100 !important; }

.font-accident-two-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200 !important; }

.font-accident-two-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important; }

.font-accident-two-normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 400 !important; }

.font-accident-two-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important; }

.font-accident-two-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important; }

.font-accident-two-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800 !important; }

.font-accident-two-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important; }

/* Regular font */
.font-regular-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal !important; }

.font-regular-normal {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal !important; }

.font-regular-normal-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: oblique !important; }

.font-regular-medium {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal !important; }

.font-regular-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal !important; }

.font-regular-extrabold {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal !important; }

.font-regular-normal-italic-blue {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: oblique;
  color: #1c4a6c !important; }

/* Signature font */
.custom-font-signature {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 45px;
  color: #ffffff; }

/* Headings */
h2 {
  font-size: 48px; }

h3 {
  line-height: 1.2em;
  font-size: 29px; }

h6 {
  font-size: 11px;
  letter-spacing: 3px; }

h4 a, h5 a, h6 a {
  color: #e74c3c; }

.title-light {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: initial; }

/* Paragraphs */
.small {
  font-size: 13px; }

.extrasmall {
  font-size: 12px; }

.superheading {
  font-size: 48px; }

/* Button Types */
.btn-darker,
.btn-blk,
.btn-gr,
.btn-lgr,
.btn-lgr-str,
.btn-grey-str,
.btn-light,
.btn-wh,
.btn-wh-str,
.btn-rd,
.btn-rd-str,
.btn-wh-trans {
  letter-spacing: 0;
  border-radius: 2px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-right: 12px;
  padding: 8px 24px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }
  .btn-darker:focus,
  .btn-blk:focus,
  .btn-gr:focus,
  .btn-lgr:focus,
  .btn-lgr-str:focus,
  .btn-grey-str:focus,
  .btn-light:focus,
  .btn-wh:focus,
  .btn-wh-str:focus,
  .btn-rd:focus,
  .btn-rd-str:focus,
  .btn-wh-trans:focus {
    outline: none; }

.btn-darker {
  border: 1px solid #6f6f6f;
  background: #6f6f6f;
  color: #ffffff !important; }
  .btn-darker:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-blk {
  border: 1px solid #353535;
  background: #353535;
  color: #8f8f8f !important; }
  .btn-blk:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }
  .btn-blk:focus {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-gr {
  border: 1px solid transparent;
  color: #c7c7c7 !important;
  background: #505050; }
  .btn-gr:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-lgr {
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
  color: #ffffff !important; }
  .btn-lgr:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-lgr-str {
  background: none;
  border: 2px solid #d7d7d7;
  color: #cfcfcf !important; }
  .btn-lgr-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }
  .btn-lgr-str:focus {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-grey-str {
  background: none !important;
  border: 2px solid #bfbfbf;
  color: #bfbfbf !important; }
  .btn-grey-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-light {
  background: #efefef;
  border: 1px solid #efefef;
  color: #bfbfbf !important; }
  .btn-light:hover {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: #ffffff !important; }

.btn-wh-str {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff !important; }
  .btn-wh-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-wh {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #bfbfbf !important; }
  .btn-wh:hover {
    background: #e74c3c;
    border: 2px solid #e74c3c;
    color: #ffffff !important; }

.btn-rd {
  border: 1px solid #e74c3c;
  color: #ffffff !important;
  background: #e74c3c; }
  .btn-rd:hover {
    border: 1px solid #ec1717;
    background: #ec1717;
    color: #ffffff !important; }

.btn-rd-str {
  background: none;
  border: 2px solid #e74c3c;
  color: #e74c3c !important; }
  .btn-rd-str:hover {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff !important; }

.btn-wh-trans {
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.8) !important; }
  .btn-wh-trans:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff !important; }

/* Button Sizes */
.btn-lg {
  font-size: 15px; }

.btn-default {
  font-size: 13px; }

.btn-sm {
  font-size: 12px; }

.btn-xs {
  font-size: 11px;
  padding: 3px 9px 2px 9px; }

/*# sourceMappingURL=buttons.css.map */
